.mainfont {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
}

.mainfontbl {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.txtleft {
  text-align: end;
}

.logo img {
  width: 160px;
  height: 60px;
}

.logo:hover img {
  cursor: pointer;
  opacity: 0.6;
}

.link a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.link a:visited {
  color: white;
}

.categbtn, .categbtnover .categbtn:active, .categbtn:focus {
  background-color: rgb(250, 167, 25);
  text-decoration: none;
  overflow: hidden;
  border: none;
  box-shadow: none;
}

.categbtn:hover {
  background-color: rgb(251, 182, 65);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.categbtn span .x-btn-inner {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
  overflow: hidden;
}

.categbtn:hover span .x-btn-inner {
  text-shadow: 0 0 4px yellow;
}

.menuItem {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.menuItem:active {
  color: white;
}

.menuItemAct {
  background-color: #fdd38d;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
}

.menuItem:focus {
  color: white;
}

.menuItemMain {
  background-color: white;
}

.menuItem a {
  color: white;
  height: 38px;
  line-height: 38px;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.menuItem a span {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  vertical-align: middle;
}

.menuItem a span div {
  height: 38px;
  line-height: 38px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-size: 16px;

}

.menuItem:hover a span div {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
}

.menuItem:hover {
  background-color: #fdd38d;
}


.link a:hover {
  color: red;
}

.btnarrow {
  color: black;
}

.transpbtn:hover .geo {
  color: red;
}

.transpbtn, .transpbtn:focus {
  background-color: transparent !important;
  border: none;
}

.transpbtn:focus {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.boldtxt {
  font-weight: bold;
}

.searchField {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px lightgrey solid;

}

.searchField .x-form-text-wrap {
  flex:1;
  background-color: #e1e1e1;
}

.dataview-item:hover {
  box-shadow: 1px 1px 25px 10px orange;
  cursor: pointer;
}
.itemName{
  color: #151528;
  text-decoration: none;
}
.priceTag{
  font-size: 24px;
  font-weight: bold;
  float: left;
  color: #151528;
  font-family: "PT Sans","Helvetica","Arial",sans-serif;
}
.priceDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
}
.priceRubble{
  font-weight: bold;
  margin-left: 4px;
  font-size: 24px;
  font-family: "PT Sans","Helvetica","Arial",sans-serif;
  color: #151528;
}
.cartButton{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 100px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  width: 36px;
  height: 36px;
  min-width: 20px;
  min-height: 20px;
}
.priceTagSale{
  color: red;
  font-size: 24px;
}
.dataview-item {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  border: lightgray 1px solid;
  display: flex;
  margin: 0 24px 24px 0;
  padding: 20px;
  text-align: center;
  height: auto;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.categoryList {
  flex: 1;
  margin: 24px 24px 0 24px;
  height: fit-content;
  padding: 10px;
  border: 1px lightgrey solid;
}

.categoryTitle {
  margin: 5px 0 0 5px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.categoryItem:hover a{
  color: red;
  cursor: pointer;
}
.categoryItem:hover{
  opacity: 0.90;
  cursor: pointer;
}
.categoryItem a {
  text-decoration: none;
  word-break: break-word;
  white-space: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: rgba(0,0,0,.87);
  margin: -2px 0;
  padding: 4px 0;
}

.searchField:focus {
  border: 1px orange solid;
}
.categoryDesc{
  font-size: 14px;
  float: left;
  color: #484644;
  font-weight: 400;
  font-family: Roboto,sans-serif;
}
.descrTop {
  padding: 24px;

}

.panelBorder .x-panel-bodyWrap {
  border: lightgrey 1px solid;
}

.searchField:focus-within {
  border: 1px orange solid;
}

.searchField:focus-within div {
  background-color: orange;
}

.linkOrange {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.linkOrange:hover {
  color: orange;
}

.cartOrange a span {
  color: rgba(0, 0, 0, .66);
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  padding-bottom: 15px;
  padding-left: 8px;

}

.cartOrange:hover a span img {
  width: 26px;
  height: 26px;
}

.cartOrange:hover a span {
  color: orange;
  font-size: 16px;
  font-weight: bolder;
}

.searchFieldTxt div input {
  font-weight: 500;
  padding: 10px 15px 8px 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: black;
}